*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
   background-color: #cf670d;
    color: aliceblue;
}
header nav{
    display: flex;
 position: fixed;
    top: 0;
   z-index: 1000;
    width: 100%;
    
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #212121
}

header nav p{
    font-size: 24px;
    font-weight: bold;
}
header nav div input{
   
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: aliceblue;
    flex-grow: 1;
}
header nav div button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e67e22;
    color: aliceblue;
    cursor: pointer;
    
}

.recipe-container{
    margin-top:150px;
    text-align: center;
   display:grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:40px;
 
    margin: 160px auto 10px auto;
    width: 80%;
  place-items: center;
}
.recipe{
    background-color: #180b0b;
    display: flex;
  max-width: 350px;
    flex-direction: column;
    border: 3px solid #0a0807;
    border-radius: 10px;
    margin: 10px;
}
.recipe button{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #d22f16;
    color: aliceblue;
    cursor: pointer;
}
.recipe:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    glow: 0 0 10px #a7a29d;
}
.recipe p{
   
    font-size: 20px;
    color: #d2c7bb;
    margin:5px 0;
}
.recipe span{
   
    font-weight:600;
   color: rgb(197, 200, 203);
}
.recipe h2{
   margin: 6px;
    font-size:  24px;  
   
}
.recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #180b0b;
    padding: 20px;
    border: 3px solid #0a0807;
    border-radius: 10px;
    width: 40%;
    height: 60%;
    max-width: 600px;
    z-index: 1001;
}

@media screen and (max-width: 600px) {
    header nav{
        flex-direction: column;
        align-items: center;
        gap:10px;
      
    }
   header nav div{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 420px;
    gap: 10px;
}
 
   
    main{
        padding: 20px;
    }
}
